		.profile-icon {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
		.rating-stars {
           font-size: 1.5rem;
           color: gold;
        }
        .main-section {
            display: flex;
            gap: 20px;
        }
        .profile-section {
            flex: 1;
        }
        .history-section {
            flex: 2;
        }
        .diary-list {
            margin-top: 20px;
        }
        .diary-item {
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
		img.logoimg{
			width: 300px;
			height: 150px;
		}
